## Mysql 
JWT_SECRET=b67530f5222fae7186a8c38c82133807f2863dd3
DB_HOST=localhost
DB_PORT=3306
DB_NAME=timehub_db
DB_USER=admin
DB_PASSWORD=admin


## Backend
PORT=3001

## Admin Default
ADMIN_NAME=admin
ADMIN_SURNAME=admin
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=123
HOST_FE=http://localhost:3000